<a href="https://colab.research.google.com/github/merriekay/CS167-Project-1/blob/main/Project1_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project \#1 Starter Code: 
Your first step is to decide which dataset you would like to work with for this project. You can find the data on Blackboard. 

The options include: 
- [Ramen Ratings](https://www.kaggle.com/residentmario/ramen-ratings)
- [Chocolate Ratings](https://www.kaggle.com/rtatman/chocolate-bar-ratings)
- [World Happiness Data](https://www.kaggle.com/unsdsn/world-happiness)
- [Heart Failure Prediction](https://www.kaggle.com/fedesoriano/heart-failure-prediction)

Let's start by taking a look at these different datasets. (you can get rid of this once you decide which one you want to use).

In [ ]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
happiness =pd.read_csv('/content/drive/MyDrive/CS167/datasets/happiness_data.csv')
happiness.head()

Mounted at /content/drive

   Overall rank  Year  ... Generosity  Perceptions of corruption
0             1  2018  ...      0.202                      0.393
1             2  2018  ...      0.286                      0.340
2             3  2018  ...      0.284                      0.408
3             4  2018  ...      0.353                      0.138
4             5  2018  ...      0.256                      0.357

[5 rows x 10 columns]

In [ ]:
heart =pd.read_csv('/content/drive/MyDrive/CS167/datasets/heart.csv')
heart.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [ ]:
chocolate =pd.read_csv('/content/drive/MyDrive/CS167/datasets/chocolate.csv')
chocolate.head()

    Company Specific Bean Origin     REF  ...  Rating  Bean\nType Broad Bean\nOrigin
0  A. Morin          Agua Grande  1876.0  ...    3.75         NaN           Sao Tome
1  A. Morin                Kpime  1676.0  ...    2.75         NaN               Togo
2  A. Morin               Atsane  1676.0  ...    3.00         NaN               Togo
3  A. Morin                Akata  1680.0  ...    3.50         NaN               Togo
4  A. Morin               Quilla  1704.0  ...    3.50         NaN               Peru

[5 rows x 9 columns]

In [ ]:
ramen =pd.read_csv('/content/drive/MyDrive/CS167/datasets/ramen-ratings.csv')
ramen.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

# Problem: 
Which dataset are you going to use? What questions are you going to ask about this dataset? Make sure that you can answer the question using ML models. What are your predictor variables and target variable?

# Data Preparation
Explain your data prep. What did you do to get your data in the shape for your experiments? (e.g. creation of dummy variables, filling in missing values, etc).

In [ ]:
# data prep code

# Metrics
Identify which metrics you will be using to test your model and say why they are appropriate.

# Baseline Performance
Identify a baseline for your metrics - what would you expect to happen with this particular data if you always guessed the average or if you guessed randomly? What did some of the unsuccessful machine learning algorithms yield?

Some helpful links:
- [Sklearn Dummy Regressor](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyRegressor.html)

In [ ]:
# build and test a baseline model here

# Model planning and Execution
Identify which learning algorithms you have tried and which important parameters you’ve tuned for each one.

In [ ]:
# Execute your plan here (build and test your models to answer your question)

# Results
After you conduct your learning experiment, summarize the results you got. Include visualizations (i.e. graphs) where appropriate.  How did you find the best k, n, m or other variables that you needed to tune.

In [ ]:
# Include code to show your results (graphs, etc)

# Bumps in the Road:
What challenges did you encounter? How did you overcome these challenges? Did you have to adapt your strategy to account for these challenges? Why or why not?

# Conclusions
What insights/recommendations do you have? What did you find that was interesting? Which model was your best model, which models didn't work well? Why do you think this is? In general, I want a discussion of your experiment, the results, and what they mean.